-server
-Xmx3G
-XX:+UseG1GC
-XX:G1HeapRegionSize=32M
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:+ExitOnOutOfMemoryError
-XX:ReservedCodeCacheSize=512M
-XX:PerMethodRecompilationCutoff=10000
-XX:PerBytecodeRecompilationCutoff=10000
-Djdk.attach.allowAttachSelf=true
-Djdk.nio.maxCachedBufferSize=2000000
-Dfile.encoding=UTF-8
# AWS/MinIO S3 settings
-Dfs.s3a.endpoint=http://minio:9000
-Dfs.s3a.access.key=minioadmin
-Dfs.s3a.secret.key=minioadmin
-Dfs.s3a.path.style.access=true
-Dfs.s3a.connection.ssl.enabled=false